body {
    background-image: url(images/sky.jpeg);
    font-size: 1.5rem;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

@media (max-width: 767px) {
    .weather {
        width: 300px;
        padding-top: 10px;
        padding-bottom: 15px; 
    }
}

@media (min-width: 1250px) {
    .weather {
        width: 600px;
        padding-top: 20px;
        padding-bottom: 25px; 
    }
}

@media (min-width: 768px) and (max-width: 1249px) {
    .weather {
        width: 500px;
        padding-top: 15px;
        padding-bottom: 20px; 
    }
}

.weather {
    margin-top: 55px;
    background-color: #D1E1FF;   
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-width: 4px;
    border-color: #7A8DAF;
    border-radius: 1%;
}

h1 {
    font-family: 'Merriweather', serif;
}

body {
    font-family: 'Roboto Slab', serif;
}